<!-- extends base.html -->
{% extends "base.html" %}

<!-- block content -->
<section>
  {% block content %}

  <!-- create a new room -->
  <a href="{% url 'create-room' %}" class="btn btn-primary px-4">Create Room</a>

  <!-- rooms -->
  <div class="mt-3">
    {% for room in rooms %}
    <div class="border border-primary border-2 mb-2">
      <div class="d-flex">
        <p>@{{room.host.username}}</p>
        <p>{{room.topic.name}}</p>
      </div>

      <p><a href=" {% url 'room' room.id %}"> {{room.title}}</a></p>
    </div>

    {% endfor %}
  </div>

  {% endblock content %}
</section>
