* {
  box-sizing: border-box !important;
}

body {
  background-color: rgb(45, 4, 55);
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav {
  background-color: rgb(75, 8, 92);
  color: #fff;
}

ul,
li {
  list-style: none;
}

.room {
  background-color: rgb(75, 8, 92);
}

.input {
  outline: none;
  color: #fff;
  background-color: rgb(45, 8, 55);
}

.form-group {
  max-width: 400px !important;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
