* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: rgb(45, 4, 55);
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav {
  background-color: rgb(75, 8, 92);
  color: #fff;
}

ul,
li {
  list-style: none;
}

.room {
  background-color: rgb(75, 8, 92);
}
